[Core]
Name = Juniper SRX Device Metrics Plugin
Module = plugin_polling_generic_snmp

[Documentation]
Author = Verizon Media, Inc.
Version = 0.1
Website = https://getpanoptes.io/
Description = Plugin for Juniper SRX device metrics

[main]
execute_frequency = 60
resource_filter = resource_class = "network" AND resource_type = "juniper" AND resource_metadata.model LIKE "SRX%%"
namespace = metrics
polling_status_metric_name = polling_status

[enrichment]
preload = self:metrics

[x509]
x509_secured_requests = 2