[Core]
Name = Interface Enrichment Plugin
Module = plugin_enrichment_interface

[Documentation]
Author = Yahoo!, Inc.
Version = 0.1
Website = https://github.com/yahoo/panoptes
Description = Plugin to collect interface enrichment

[main]
execute_frequency = 300
resource_filter = resource_class = "network" AND resource_subclass = "switch" AND resource_type = "cisco"
enrichment_ttl = 900
topodb_connection_timeout = 1
topodb_read_timeout = 3

[snmp]
max_repetitions = 25
timeout = 10
retries = 2
